<div class="home__container">
<app-card
  gameCover="assets/god.jpg"
  gameLabel="EXCLUSIVO"
  gameType="DIGITAL | PS5"
  gamePrice="R$249,90"
>
</app-card>

<app-card
  gameCover="assets/d4.jpg"
  gameLabel="PROMOCIONAL"
  gameType="DISC "
  gamePrice="R$199,90"
>
</app-card>

<app-card
  gameCover="assets/Elden_Ring_capa.jpg"
  gameLabel="OFERTA"
  gameType="DISC"
  gamePrice="R$159,90"
>
</app-card>

<app-card
  gameCover="assets/demon.jpg"
  gameLabel="EXCLUSIVO"
  gameType="DIGITAL"
  gamePrice="R$199,90"
>
</app-card>
</div>


